#products {
    background-color: $backgroundcolor;
    padding: 10px;
}

.products-title {
    font-size: 30px;
    text-align: center;
    margin: 20px 0px;
}


@media screen and (min-width: 500px) {

    #products {
        background-color: rgba($backgroundcolor, $alpha: 0.8);
    }
}
 
@media screen and (min-width: 750px) {

    #products {
        min-width: 96vw;
        margin-right: 20vw; 
        .results {
            padding: 20px;
        }
        .result {
            width:30%;
        }
    }

}