#social {
    max-width: 100%;
    padding: 10px;
    background-color: $backgroundcolor;
    margin: 20px 0px;
}

.social-text {
    h2 {
        font-size: 30px;
        text-align: center;
        margin: 10px 0px;
    }
    p {
        margin: 10px 0px;
    }
}

.social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    font-size: 30px;
}

.fb-cta {
    font-size: 14px;
    padding: 2px;
}

.social-feeds {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        margin-bottom: 30px;
    }
}

.social-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.social-title {
    width: 100%;
}


@media screen and (min-width: 500px) {
    
    .social-text {
        width: 100%;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        font-size: 20px;
        h2 {
            font-size: 32px;
        }
        .link-container {
            flex-direction: column;
            margin: 0px 10px;
            justify-content: space-evenly;
            align-items: flex-end;
            width: 50px;
        }
    }

    .social-title {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .social-feeds {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

}

@media screen and (min-width: 750px) {

    #social {
        background-color: rgba($backgroundcolor, $alpha: 0.8);
        min-width: 80vw;
        padding: 8vw;
        margin-right: 20vw;
        max-height: 600px;
    }

}

 
@media screen and (min-width: 750px) {

    #social {
        min-width: 96vw;
        margin-right: 20vw;
    }

    .social-container {
        display: flex;
        flex-direction: row;
    }

    .social-text {
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        .link-container {
            flex-direction: row;
            justify-content: space-between;
            height: 50px;
            width: 100%;
            align-items: flex-start;
        }
    }

    .social-feeds div {
        padding: 30px;
    }
}