$mainfont: itc-american-typewriter-cond, serif;
$subtitlefont: english, sans-serif;
$subtitlecapsfont: english-small-caps, sans-serif;
$scriptfont: goodlife-brush, sans-serif;
$headerfont: goodlife-sans-condensed, sans-serif;

$spirit: #5A2066;
$fire: #991B2C;
$air: #CC8E8A;
$water: #336974;
$earth: #999020;

$headercolor: $spirit;
$subtitlecolor: $fire;
$highlightcolor: $air;
$linkcolor: $water;
$linkcolorhover: $earth;

$backgroundcolor: white;
$textcolor: black;

body {
    color: $textcolor;
    font-family: $mainfont;
    font-size: 15px;
}

a {
    color: $linkcolor;
    transition: 0.5s;
}

a:hover {
    color: $linkcolorhover;
}

h2 {
    font-family: $scriptfont;
    color: $headercolor;
    font-size: 20px;
}

h3 {
    font-family: $headerfont;
    color: $headercolor;
    font-size: 20px;
}

h4 {
    color: $subtitlecolor;
    font-size: 20px;
    font-family: $subtitlefont;
}