$main-font: itc-american-typewriter-cond, serif;
$subtitle-font: english, sans-serif;
$subtitle-caps-font: english-small-caps, sans-serif;
$header-font: goodlife-brush, sans-serif;
$header-font-2: goodlife-sans-condensed, sans-serif;
$theme1: #5A2066;