// sass --watch styles/sass:styles/css --style compressed

@import '_reset.scss';
@import '_vars.scss';

@import 'components/_searchresults.scss';
@import 'components/_home.scss';
@import 'components/_products.scss';
@import 'components/_contact.scss';
@import 'components/_socials.scss';

.hidden {
    display: none;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba($headercolor, $alpha: 0.8);
    background-color: $backgroundcolor;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba($subtitlecolor, $alpha: 0.8);
}

body::-webkit-scrollbar-thumb {
    background-color: $headercolor;
    outline: 1px solid $textcolor;
}

.main-bg {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

header, footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 75px;
    position: fixed;
    background-color: $backgroundcolor;
    color: $headercolor;
    font-family: $subtitlecapsfont;
    z-index: 10;
}

header h1 {
    margin: auto auto auto 0;
}

header {
    top: 0;
    flex-direction: row;
    font-size: 22px;
    left: 0;
}

footer {
    bottom: 0;
    left: 0;
    flex-direction: column;
    font-size: 12px;
}

header img {
    max-height: 50px;
}

.link-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.link {
    width: 35px;
    height: 35px;
    transition: 0.2s;
    fill: $linkcolor;
}

.link:hover {
    opacity: 0.5;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 90%;
    height: 100%;
    padding: 20% 5%;
    background-color: $backgroundcolor;
    overflow-y: auto;
    transition: 1s;
}

.menushow {
    right: 0;
}

.menu-exit {
    color: $textcolor;
    text-align: right;
    transition: 1s;
    font-size: 20px;
    margin-bottom: 25px;
    cursor: pointer;
}

.menu-link {
    text-align: center;
    color: $linkcolor;
    font-family: $headerfont;
    font-size: 26px;
    transition: 1s;
    cursor: pointer;
    margin-bottom: 15px;
}

.menu-link:hover {
    color: $linkcolorhover;
    margin: 30px 0px;
}

.menu nav .link-container {
    height: 30px;
    margin: 20px 0px;
    li {
        width: 30px;
        height: 30px;
        .link {
            width: 30px;
            height: 30px;
        }
    }
}

.copyright {
    height: 20px;
    text-align: center;
}

footer .link-container {
    width: 80%;
    height: 30px;
    margin: 10px 10% 0px 10%;
    li {
        width: 10px;
        height: 10px;
        .link {
            width: 20px;
            height: 20px;
        }
    }
}

#main-container {
    display: flex;
    flex-direction: column;
    width: 96%;
    height: auto;
    padding: 100px 2%;
}
 
@media screen and (min-width: 750px) {

    
    .main-container {
        flex-direction: row;
        height: 100%;
        width: auto;
    }

    
    body {
        overflow-y: hidden;
        height: 100%;
        width: auto;
        overflow-x: scroll;
    }
    
}

@media screen and (min-width: 1600px) {

    .main-bg {
        width: 100%;
        height: auto;
    }

}