// sass --watch styles/sass:styles/css --style compressed

@import '_vars.scss';
@import '_reset.scss';

.hidden {
    display: none;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba($headercolor, $alpha: 0.8);
    background-color: $backgroundcolor;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba($subtitlecolor, $alpha: 0.8);
}

body::-webkit-scrollbar-thumb {
    background-color: $headercolor;
    outline: 1px solid $textcolor;
}

.main-bg {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

header, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 75px;
    position: fixed;
    background-color: $backgroundcolor;
    color: $headercolor;
    font-family: $subtitlecapsfont;
    font-size: 22px;
    z-index: 10;
}

header h1 {
    margin: auto auto auto 0;
}

header {
    top: 0;
    left: 0;
}

footer {
    bottom: 0;
    left: 0;
}

header img {
    max-height: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 90%;
    height: 100%;
    padding: 20% 5%;
    background-color: $backgroundcolor;
    text-align: center;
    font-family: $headerfont;
    font-size: 32px;
    overflow-y: auto;
}

.link-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.link {
    width: 35px;
    height: 35px;
    transition: 0.2s;
}

.link:hover {
    opacity: 0.5;
}

.menu nav .link-container {
    height: 30px;
    margin: 20px 0px;
    li {
        width: 30px;
        height: 30px;
        .link {
            width: 30px;
            height: 30px;
        }
    }
}


footer .link-container {
    width: 50%;
    li {
        width: 20px;
        height: 20px;
        margin: 10px;
        .link {
            width: 30px;
            height: 30px;
        }
    }
}


.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 100px 15px;
}

.search {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.search-icon {
    max-width: 25px;
    margin: 5px 5px;
}

.search-input {
    max-width: 80%;
    max-height: 25px;
    margin: 5px 5px;
    font-size: 20px;
    font-family: $subtitlefont;
}


 
@media screen and (min-width: 750px) {

    
    .main-container {
        flex-direction: row;
        height: 100%;
        width: auto;
    }

    
    body {
        overflow-y: hidden;
        height: 100%;
        width: auto;
        overflow-x: scroll;
    }
    
}

@media screen and (min-width: 1600px) {

    .main-bg {
        width: 100%;
        height: auto;
    }

}